/.vscode
/home
/images
/stucture.html
/test.html
www.css
zzz.html
vvv.css
ttt.html
text.html
style.css
rrr.css
ppp.html
ooo.html
ooo.css
js/index.html
js/index.js
indx.html 1
errr.html
eee.html
eee.css
Crafto - The Multipurpose HTML5 Template_files/vendors.min.js.download
Crafto - The Multipurpose HTML5 Template_files/vendors.min.css
assi.css
assi.html
bbb.css
Crafto - The Multipurpose HTML5 Template.html
Crafto - The Multipurpose HTML5 Template_files/demo-it-business-01.jpg
Crafto - The Multipurpose HTML5 Template_files/demo-it-business-02.jpg
Crafto - The Multipurpose HTML5 Template_files/demo-it-business-03.jpg
Crafto - The Multipurpose HTML5 Template_files/demo-it-business-04.jpg
Crafto - The Multipurpose HTML5 Template_files/demo-it-business-05.jpg
Crafto - The Multipurpose HTML5 Template_files/demo-it-business-06.jpg
Crafto - The Multipurpose HTML5 Template_files/demo-it-business-07.jpg
Crafto - The Multipurpose HTML5 Template_files/demo-it-business-icon-01.webp
Crafto - The Multipurpose HTML5 Template_files/demo-it-business-icon-02.webp
Crafto - The Multipurpose HTML5 Template_files/demo-it-business-icon-03.webp
Crafto - The Multipurpose HTML5 Template_files/demo-it-business-logo-black@2x.webp
Crafto - The Multipurpose HTML5 Template_files/demo-it-business-logo-white@2x.webp
Crafto - The Multipurpose HTML5 Template_files/demo-it-business-popup.gif
Crafto - The Multipurpose HTML5 Template_files/demo-it-business-portfolio-01.jpg
Crafto - The Multipurpose HTML5 Template_files/demo-it-business-portfolio-02.jpg
Crafto - The Multipurpose HTML5 Template_files/demo-it-business-portfolio-05.jpg
Crafto - The Multipurpose HTML5 Template_files/demo-it-business-portfolio-03.jpg
Crafto - The Multipurpose HTML5 Template_files/demo-it-business-portfolio-04.jpg
Crafto - The Multipurpose HTML5 Template_files/demo-it-business-portfolio-06.jpg
Crafto - The Multipurpose HTML5 Template_files/demo-it-business-services-06.jpg
Crafto - The Multipurpose HTML5 Template_files/demo-it-business-testimonials-01.webp
Crafto - The Multipurpose HTML5 Template_files/demo-it-business-testimonials-02.webp
Crafto - The Multipurpose HTML5 Template_files/demo-it-business-testimonials-03.webp
Crafto - The Multipurpose HTML5 Template_files/icon.min.css
Crafto - The Multipurpose HTML5 Template_files/it-business.css
Crafto - The Multipurpose HTML5 Template_files/jquery.js.download
Crafto - The Multipurpose HTML5 Template_files/logo-amazon-dark-blue.svg
Crafto - The Multipurpose HTML5 Template_files/logo-dropbox-dark-gray-02.svg
Crafto - The Multipurpose HTML5 Template_files/logo-invision-dark-blue.svg
Crafto - The Multipurpose HTML5 Template_files/logo-loitech-dark-blue.svg
Crafto - The Multipurpose HTML5 Template_files/logo-monday-dark-blue-01.svg
Crafto - The Multipurpose HTML5 Template_files/logo-monday-dark-gray-02.svg
Crafto - The Multipurpose HTML5 Template_files/logo-netflix-dark-blue.svg
Crafto - The Multipurpose HTML5 Template_files/logo-slack-dark-gray-02.svg
Crafto - The Multipurpose HTML5 Template_files/logo-walmart-dark-blue.svg
Crafto - The Multipurpose HTML5 Template_files/logo-yahoo-dark-blue.svg
Crafto - The Multipurpose HTML5 Template_files/main.js.download
Crafto - The Multipurpose HTML5 Template_files/responsive.min.css
Crafto - The Multipurpose HTML5 Template_files/style.min.css
