.www {
    width: 30px;
    height: 100px;
    background-color: red;
    border-right: 8px solid white;
    border-left: 8px solid white;
    position: relative ;top: 0px; left: 92px;
    
}


    .eee{
        width: 100px;
        height: 30px;
        background-color: red;
        border-top: 8px solid white;
        border-bottom: 8px solid white;
        position: relative ;
        
    }

.ttt{
    width:370px ;
    height: 30px;
    background-color: red;
    border-top: 8px solid white;
    border-bottom: 8px solid white;
    position: relative ;left: 130px;bottom: 46px;
    
}

.yyy{
    width: 30px;
    height: 400px;
    background-color: red;
    border-right: 8px solid white;
    border-left: 8px solid white;
    position: relative ;bottom: 50px; left: 92px;

}

.lll{
    width: 30px;
    height: 44px;
    background-color: red;
    
    position: relative ;bottom: 492px;left: 100px;

}

.ooo{
    background-color:#33499F ;
}

.
