.qqq{text-decoration: overline underline;
color: red;
}

.aaa{text-align: center;
text-decoration: underline; 
}

.ddd{text-align: center;margin: 0px 0px 0px 150px;}

.eee{width: fit-content;margin: 0 auto;}


.rrr{text-decoration: overline underline;color: red; 
margin: 20px 0px 0px 100px;
}


.ggg{margin-left: 100px;font-style: italic;font-size: larger;text-decoration: wavy underline;}






.yyy{line-height: 30px; word-spacing: 3px;text-align: center;font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;}
.zzz{line-height: 30px; word-spacing: 3px;text-align: center;font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;}